VITE_SUPABASE_URL=https://llldgdgjoormbcxmoggz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_3EonPpWeP3BORGtv6j2h4A_8hi-Y4rF
VITE_SUPABASE_STORAGE_BUCKET=property-images
VITE_CLIENT_WHATSAPP_NUMBER=442055550148
