VITE_SUPABASE_URL=https://zdbgqxhxreubgwxidbnh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xTA5TroZ3jttRI-QlyulWA_-2kNtqM_
VITE_SUPABASE_STORAGE_BUCKET=property-images
VITE_CLIENT_WHATSAPP_NUMBER=442055550148
